ul.social-network {
    list-style: none;
    padding: 0%;
}

ul.social-network li{
    display: inline;
    margin: 0%;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: black;
    padding: 10px;
}

.fa-linkedin-square:hover{
    color: #3867d6;
}
.fa-github:hover{
    color: #1e272e;
}

.fa-instagram:hover{
    color: #cf6a87;
}